<input type="text" [(ngModel)]="title" name="title" placeholder="title..">
<textarea [(ngModel)]="content" name="content" placeholder="content.."></textarea>
<input type="submit" value="Add a post" (click)="addPost()">

<ul *ngFor="let post of posts | async">
  <li>
    <strong>{{post.title}}</strong>
    <br>
    <br>
    {{post.content}}
  </li>
</ul>